.1_97 { 
	overflow:hidden;
}
.e1_97 { 
	width:1280px;
	height:1400px;
	position:absolute;
}
.e1_226 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:1400px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_98 { 
	width:1280px;
	height:490px;
	position:absolute;
	left:0px;
	top:81px;
}
.e1_99 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:1280px;
	height:490px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_100 { 
	width:1280px;
	height:490px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/experience_header.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_101 { 
	width:299.0000305175781px;
	height:196px;
	position:absolute;
	left:96px;
	top:614px;
}
.e1_102 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:299.0000305175781px;
	height:196px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_103 { 
	width:299.0000305175781px;
	height:196px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/experience_img1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_104 { 
	width:299.0000305175781px;
	height:196px;
	position:absolute;
	left:96px;
	top:844px;
}
.e1_105 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:299.0000305175781px;
	height:196px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_106 { 
	width:299.0000305175781px;
	height:196px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/experience_img2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_107 { 
	width:299.0000305175781px;
	height:196px;
	position:absolute;
	left:96px;
	top:1074px;
}
.e1_108 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:299.0000305175781px;
	height:196px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_109 { 
	width:299.0000305175781px;
	height:196px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/experience_img3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_112 { 
	width:684px;
	height:56px;
	position:absolute;
	left:462px;
	top:675px;
}
.e1_110 { 
	color:rgba(0, 0, 0, 1);
	width:684px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_111 { 
	color:rgba(0, 0, 0, 1);
	width:651px;
	height:28px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e1_119 { 
	width:698px;
	height:168px;
	position:absolute;
	left:462px;
	top:852px;
}
.e1_113 { 
	color:rgba(0, 0, 0, 1);
	width:698px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_114 { 
	color:rgba(0, 0, 0, 1);
	width:659px;
	height:28px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_115 { 
	color:rgba(0, 0, 0, 1);
	width:621px;
	height:28px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_116 { 
	color:rgba(0, 0, 0, 1);
	width:669px;
	height:28px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_117 { 
	color:rgba(0, 0, 0, 1);
	width:636px;
	height:28px;
	position:absolute;
	left:0px;
	top:112px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_118 { 
	color:rgba(0, 0, 0, 1);
	width:679px;
	height:28px;
	position:absolute;
	left:0px;
	top:140px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e1_124 { 
	width:722px;
	height:112px;
	position:absolute;
	left:462px;
	top:1112px;
}
.e1_120 { 
	color:rgba(0, 0, 0, 1);
	width:703px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_121 { 
	color:rgba(0, 0, 0, 1);
	width:722px;
	height:28px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_122 { 
	color:rgba(0, 0, 0, 1);
	width:694px;
	height:28px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_123 { 
	color:rgba(0, 0, 0, 1);
	width:463px;
	height:28px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e1_125 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_126 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:253px;
	height:42px;
	position:absolute;
	left:247px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_127 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:204px;
	height:42px;
	position:absolute;
	left:783px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_128 { 
	width:141px;
	height:59px;
	position:absolute;
	left:570px;
	top:11px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_129 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:162px;
	height:42px;
	position:absolute;
	left:1060px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_130 { 
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:272px;
}
.e1_131 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_132 { 
	background-color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_133 { 
	color:rgba(255, 255, 255, 1);
	width:261px;
	height:42px;
	position:absolute;
	left:511px;
	top:283px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e1_134 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:135px;
	height:42px;
	position:absolute;
	left:54px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_135 { 
	background-color:rgba(237.0000010728836, 237.0000010728836, 237.0000010728836, 1);
	width:1280px;
	height:80px;
	position:absolute;
	left:0px;
	top:1320px;
}
.e1_136 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1120px;
	top:1336px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_137 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1040px;
	top:1336px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_138 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1200px;
	top:1336px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_139 { 
	color:rgba(79.00000289082527, 79.00000289082527, 79.00000289082527, 1);
	width:305px;
	height:19px;
	position:absolute;
	left:25px;
	top:1349px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
