.1_55 { 
	overflow:hidden;
}
.e1_55 { 
	width:1280px;
	height:1400px;
	position:absolute;
}
.e1_229 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:1384px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_56 { 
	width:1280px;
	height:490px;
	position:absolute;
	left:0px;
	top:81px;
}
.e1_57 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:1280px;
	height:490px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_58 { 
	width:1280px;
	height:490px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/about_header.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_64 { 
	width:990px;
	height:140px;
	position:absolute;
	left:133px;
	top:639px;
}
.e1_59 { 
	color:rgba(0, 0, 0, 1);
	width:990px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_60 { 
	color:rgba(0, 0, 0, 1);
	width:973px;
	height:28px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_61 { 
	color:rgba(0, 0, 0, 1);
	width:961px;
	height:28px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_62 { 
	color:rgba(0, 0, 0, 1);
	width:913px;
	height:28px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_63 { 
	color:rgba(0, 0, 0, 1);
	width:345px;
	height:28px;
	position:absolute;
	left:0px;
	top:112px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e1_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_66 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:253px;
	height:42px;
	position:absolute;
	left:247px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_67 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:204px;
	height:42px;
	position:absolute;
	left:783px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_68 { 
	width:141px;
	height:59px;
	position:absolute;
	left:570px;
	top:11px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_69 { 
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:272px;
}
.e1_70 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_71 { 
	background-color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_72 { 
	color:rgba(255, 255, 255, 1);
	width:202px;
	height:42px;
	position:absolute;
	left:539px;
	top:283px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_73 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:162px;
	height:42px;
	position:absolute;
	left:1060px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_74 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:135px;
	height:42px;
	position:absolute;
	left:54px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_75 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:444px;
	height:42px;
	position:absolute;
	left:418px;
	top:835px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e1_86 { 
	width:991px;
	height:388px;
	position:absolute;
	left:136px;
	top:893px;
}
.e1_76 { 
	color:rgba(0, 0, 0, 1);
	width:610px;
	height:28px;
	left:0px;
	top:0px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_77 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:0px;
	top:28px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_78 { 
	color:rgba(0, 0, 0, 1);
	width:865px;
	height:28px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_79 { 
	color:rgba(0, 0, 0, 1);
	width:736px;
	height:28px;
	position:absolute;
	left:0px;
	top:112px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_80 { 
	color:rgba(0, 0, 0, 1);
	width:991px;
	height:28px;
	position:absolute;
	left:0px;
	top:168px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_81 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:0px;
	top:196px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_82 { 
	color:rgba(0, 0, 0, 1);
	width:837px;
	height:28px;
	position:absolute;
	left:0px;
	top:252px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_83 { 
	color:rgba(0, 0, 0, 1);
	width:972px;
	height:28px;
	position:absolute;
	left:0px;
	top:308px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_84 { 
	color:rgba(0, 0, 0, 1);
	width:801px;
	height:28px;
	position:absolute;
	left:0px;
	top:336px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_85 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:0px;
	top:388px;
	font-family:Gill Sans MT;
	text-align:left;
	letter-spacing:0;
}
.e1_87 { 
	background-color:rgba(237.0000010728836, 237.0000010728836, 237.0000010728836, 1);
	width:1280px;
	height:80px;
	position:absolute;
	left:0px;
	top:1320px;
}
.e1_88 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1120px;
	top:1336px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_89 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1040px;
	top:1336px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_90 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1200px;
	top:1336px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_91 { 
	color:rgba(79.00000289082527, 79.00000289082527, 79.00000289082527, 1);
	width:305px;
	height:19px;
	position:absolute;
	left:25px;
	top:1349px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
