.1_186 { 
	overflow:hidden;
}
.e1_186 { 
	width:1280px;
	height:1400px;
	position:absolute;
}
.e1_228 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:1400px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_187 { 
	width:1280px;
	height:490px;
	position:absolute;
	left:0px;
	top:81px;
}
.e1_188 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:1280px;
	height:490px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_189 { 
	width:1280px;
	height:490px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/transport_header.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_190 { 
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:272px;
}
.e1_191 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_192 { 
	background-color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_193 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:42px;
	position:absolute;
	left:464px;
	top:283px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e1_194 { 
	width:283px;
	height:232px;
	position:absolute;
	left:115px;
	top:779px;
}
.e1_195 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:283px;
	height:232px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_196 { 
	width:283px;
	height:232px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/van.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_197 { 
	width:283px;
	height:232px;
	position:absolute;
	left:505px;
	top:779px;
}
.e1_198 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:283px;
	height:232px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_199 { 
	width:283px;
	height:232px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/plane.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_200 { 
	width:283px;
	height:232px;
	position:absolute;
	left:882px;
	top:779px;
}
.e1_201 { 
	box-shadow:0px 2px 4.820000171661377px rgba(0, 0, 0, 0.5);
	background-color:rgba(0, 0, 0, 1);
	width:283px;
	height:232px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_202 { 
	width:283px;
	height:232px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/car.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_207 { 
	width:868px;
	height:112px;
	position:absolute;
	left:204px;
	top:617px;
}
.e1_203 { 
	color:rgba(0, 0, 0, 1);
	width:837px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_204 { 
	color:rgba(0, 0, 0, 1);
	width:837px;
	height:28px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_205 { 
	color:rgba(0, 0, 0, 1);
	width:868px;
	height:28px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_206 { 
	color:rgba(0, 0, 0, 1);
	width:781px;
	height:28px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e1_214 { 
	width:875px;
	height:168px;
	position:absolute;
	left:209px;
	top:1070px;
}
.e1_208 { 
	color:rgba(0, 0, 0, 1);
	width:875px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_209 { 
	color:rgba(0, 0, 0, 1);
	width:869px;
	height:28px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_210 { 
	color:rgba(0, 0, 0, 1);
	width:852px;
	height:28px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_211 { 
	color:rgba(0, 0, 0, 1);
	width:829px;
	height:28px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_212 { 
	color:rgba(0, 0, 0, 1);
	width:828px;
	height:28px;
	position:absolute;
	left:0px;
	top:112px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_213 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:28px;
	position:absolute;
	left:0px;
	top:140px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e1_215 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_216 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:253px;
	height:42px;
	position:absolute;
	left:247px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_217 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:204px;
	height:42px;
	position:absolute;
	left:783px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_218 { 
	width:141px;
	height:59px;
	position:absolute;
	left:570px;
	top:11px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_219 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:162px;
	height:42px;
	position:absolute;
	left:1060px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_220 { 
	color:rgba(0, 122.00000032782555, 164.00000542402267, 1);
	width:135px;
	height:42px;
	position:absolute;
	left:54px;
	top:16px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_221 { 
	background-color:rgba(237.0000010728836, 237.0000010728836, 237.0000010728836, 1);
	width:1280px;
	height:80px;
	position:absolute;
	left:0px;
	top:1320px;
}
.e1_222 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1121px;
	top:1336px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_223 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1041px;
	top:1336px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_224 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1201px;
	top:1336px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_225 { 
	color:rgba(79.00000289082527, 79.00000289082527, 79.00000289082527, 1);
	width:305px;
	height:19px;
	position:absolute;
	left:25px;
	top:1349px;
	font-family:Gill Sans MT;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
